/*********************************************************************
This is free and unencumbered software released into the public domain.

Anyone is free to copy, modify, publish, use, compile, sell, or
distribute this software, either in source code form or as a compiled
binary, for any purpose, commercial or non-commercial, and by any
means.

For more information, please refer to <http://unlicense.org/>
*********************************************************************/

/*
WiTeX
https://github.com/AndrewBelt/WiTeX
*/


/* Latin Modern (LaTeX default) font */

@font-face {
  font-family: 'Latin Modern Roman';
  font-weight: normal;
  font-style: normal;
  src: url('//cdn.rawgit.com/AndrewBelt/WiTeX/master/fonts/lmroman10-regular.woff') format('woff');
}

@font-face {
  font-family: 'Latin Modern Roman';
  font-weight: bold;
  font-style: normal;
  src: url('//cdn.rawgit.com/AndrewBelt/WiTeX/master/fonts/lmroman10-bold.woff') format('woff');
}

@font-face {
  font-family: 'Latin Modern Roman';
  font-weight: normal;
  font-style: italic;
  src: url('//cdn.rawgit.com/AndrewBelt/WiTeX/master/fonts/lmroman10-italic.woff') format('woff');
}

@font-face {
  font-family: 'Latin Modern Roman';
  font-weight: bold;
  font-style: italic;
  src: url('//cdn.rawgit.com/AndrewBelt/WiTeX/master/fonts/lmroman10-bolditalic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  src: url('//fonts.googleapis.com/css?family=Roboto');
}
@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: italic;
  src: url('//fonts.googleapis.com/css?family=Roboto:400italic');
}
@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  font-style: normal;
  src: url('//fonts.googleapis.com/css?family=Roboto:700');
}
@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  font-style: italic;
  src: url('//fonts.googleapis.com/css?family=Roboto:700italic');
}

/*@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic&subset=latin,cyrillic-ext,latin-ext,cyrillic,greek-ext,greek,vietnamese);*/

/* Page Layout */

body {
  background: none;
  font-size: 16pt;
}
.mw-wiki-logo {
  background-image: 'https://raw.githubusercontent.com/mathdroid/hipstropedia/master/wikipedia2.png'!important;
}
#right-navigation {
  background-image:none!important;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
h1 {
  font-family: 'Lobster', cursive!important;
  font-weight: 400;
  border: none;
}
h2, h3, h4, h5, h6 {
  border: none;
  font-weight: 500;
}
s
a, a:visited {
  color: #a00;
}

ul {
  list-style: disc;
}

#mw-navigation, #mw-page-base, #mw-head-base, #footer {
  /* nuke everything but the content */
  display: block;
}
 #mw-page-base {
  background-image: none;
 }
#mw-head {
  background-color: #EEE;
}
div.vectorTabs, div.vectorTabs::before, div.vectorTabs::after {
  background-image:none!important;
}
div.vectorTabs span {
  background-color: #EEE;
  background-image:none!important;
}
div.vectorTabs li.selected a, div.vectorTabs li.selected a:visited {
  background-color: #FFF;
  background-image:none!important;
}
div.vectorTabs ul {
  
  background-image: none;
}
div.vectorTabs ul > li {
  background-image: none;
  background-color: #FFF;
}
/* Content Box */

.mw-body {
  max-width: 720px;
  margin: 2em auto;
}
#footer {
  max-width: 720px;
  margin: 2em auto;
  margin-left:12.25em;
}

#content {
  border: none;
  color: black;
}

#firstHeading, #siteSub {
  text-align: center;
  display: block;
}

.mw-body h1, .mw-body h2 {
  font-family: inherit;
}

#siteSub {
  margin-bottom: 4em;
}

/* Article Body */

.mw-editsection {
  /* hide more non-content */
  display: none;
}

.mw-body-content {
  text-align: justify;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

dl dd {
  /* center definitions (most useful for display equations) */
  text-align: center;
}

span.texhtml {
  /* revert inline math to default font */
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* Table of Contents */

#toc, .toc {
  border: none;
  padding: 0;
  background: none;
}

.mw-body #toc h2, .mw-body .toc h2 {
  font-family: inherit;
}

#toc h2, .toc h2 {
  display:block;
}

#toc #toctitle, .toc #toctitle, #toc .toctitle, .toc .toctitle {
  text-align: left;
}

.toctoggle {
  display: none;
}
